.array-bar {
  /* chage the width to alter bar */
  width: 25px;
  display: inline-block;
  margin: 5px 2px;
}
.array-value {
  font-weight: bold;
}
.btn {
  font-size: 1rem;
  margin: 25px 20px 0;
  border-radius: 20px;
  border-width: thin;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #61dafb;
}

.array-block {
  min-height: 510px;
}
